@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Courgette");
.bg-mattBlackLight {
  background-color: #303337;
}

.text-mattBlackLight {
  color: #303337;
}

.bg-mattBlackDark, body, .nav-link:hover, .nav-link.active, .nav-item-link:hover {
  background-color: #212121;
}

.text-mattBlackDark {
  color: #212121;
}

.bg-mattGray {
  background-color: #878d8d;
}

.text-mattGray, body, .nav-link .icon, .nav-link .text {
  color: #878d8d;
}

.bg-mattRed {
  background-color: #ec6271;
}

.text-mattRed, .nav-link:hover .icon,
.nav-link:hover .text, .nav-link.active .icon,
.nav-link.active .text {
  color: #ec6271;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  height: 1000px;
}

.wrapper {
  margin-top: 3.5rem;
}

.wrapper .sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 3.5rem auto auto;
  left: 0;
  width: 12.5rem;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 2000;
}

.wrapper .content {
  width: 100%;
  margin-left: 0rem;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.wrapper.active .sideMenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  white-space: nowrap;
}

.nav-link .icon {
  margin-right: 0.25rem;
  font-size: 1.875rem;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link .text {
  font-size: 0.875rem;
}

.nav-item.nav-item-link {
  color: rgba(255,255,255,.5);
  padding: 10px;
}

.nav-item.nav-item-link:hover {
  color: rgba(255,255,255,.5);
  text-decoration: none;
  box-sizing: border-box;
}
.navbar-nav-top {
  padding-left: 174px;
}
.sidebar .navbar-brand {
  color: #878d8d;
  margin-left: 20px;
} 

.sidebar .page {
    margin-left: 10px;
  }

  .sidebar .icon-pages {
    padding-left: 15px;
  } 

  .sidebar .text-pages {
    padding-left: 7px;
  }

  .sidebar .text-chart {
    padding-left: 5px;
  }

  .dropdown-toggle::after {
    color: #878d8d;
  }

  .wrapper .content {
    padding-top: 20px;
    padding-right: 75px;
  }
  .wrapper .content .date-text {
    white-space: nowrap;
  }

  .wrapper .content span {
   padding: 0 5px;
   font-size: 17px;
   color: rgba(255,255,255,.5);
  }

 .wrapper .content .filters input[type='text']{
    height: 46px;
    width: 170px;
    padding-right: 40px;
 }

 .wrapper .content .filters .select{
    height: 46px;
    width: 200px;
    margin-left: -30px;
    transform: translateX(-17px);
    transform: translateY(10px);
 }

 .wrapper .content .filters .select select{
    height: inherit;
    width: inherit;
 }

 .wrapper .content .filters .select-logs{
    height: inherit;
    width: 120px;
    margin-right: 110px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 46px;
    transform: translateY(0px);
 }
 .wrapper .content .filters .select-logs span{
  white-space: nowrap;
 }

 .wrapper .content .filters .select-logs:last-chlid{
    margin-right: 0;
 }

 .wrapper .content .filters select{
    height: inherit;
    width: 120px;
 }
  .wrapper .content .filters .date-left {
    margin-left: 36px;
  } 

  .wrapper .content .filters .wrap-date {
    position: relative;
  }

  .filters .date-wrap {
   position: relative;
   margin-right: 43px;
}

.filters .date .input-date i {
  position: absolute;
  right: 5px;
  top: 0;
  cursor: pointer;
  display: inline-block;
}


  .wrapper .content .filters i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
  }




 .wrapper .content .table {
    margin-left: 45px;
 }



input {
    padding: 22px 15px 
    border: 1px solid #CFD8DC 
    border-radius: 4px 
    box-sizing: border-box;
    background-color: #fff 
    color: #000 
    font-size: 16px 
    letter-spacing: 1px;
    position: relative
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #1976D2 !important;
    outline-width: 0
}

.fa-calendar {
    position: absolute;
    top: 13px;
    font-size: 20px;
    color: #1976D2;
    z-index: 1000
}

#fa-1 {
    left: calc(50% - 40px)
}

#fa-2 {
    left: calc(100% - 40px)
}

/*.form-control-placeholder {
    position: absolute;
    top: -10px !important;
    padding: 12px 2px 0 2px;
    opacity: 0.5
}*/

#end-p {
    left: calc(50% + 4px)
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 95%;
    top: 10px;
    transform: translate3d(0, -100%, 0);
    opacity: 1
}

::placeholder {
    color: #BDBDBD;
    opacity: 1
}

:-ms-input-placeholder {
    color: #BDBDBD
}

::-ms-input-placeholder {
    color: #BDBDBD
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.datepicker {
    background-color: #fff;
    border-radius: 0 !important;
    align-content: center !important;
    padding: 0 !important
}

.datepicker-dropdown {
    top: 180px !important;
    left: calc(50% - 173.5px) !important;
    border-right: #1976D2;
    border-left: #1976D2
}

.datepicker-dropdown.datepicker-orient-left:before {
    left: calc(50% - 6px) !important
}

.datepicker-dropdown.datepicker-orient-left:after {
    left: calc(50% - 5px) !important;
    border-bottom-color: #1976D2
}

.datepicker-dropdown.datepicker-orient-right:after {
    border-bottom-color: #1976D2
}

.datepicker table tr td.today,
span.focused {
    border-radius: 50% !important;
    background-image: linear-gradient(#FFF3E0, #FFE0B2)
}

thead tr:nth-child(2) {
    background-color: #1976D2 !important
}

thead tr:nth-child(3) th {
    font-weight: bold !important;
    padding: 20px 10px !important;
    color: #BDBDBD !important
}

tbody tr td {
    padding: 10px !important
}

tfoot tr:nth-child(2) th {
    padding: 10px !important;
    border-top: 1px solid #CFD8DC !important
}

.cw {
    font-size: 14px !important;
    background-color: #E8EAF6 !important;
    border-radius: 0px !important;
    padding: 0px 20px !important;
    margin-right: 10px solid #fff !important
}

.old,
.day,
.new {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important
}

.day.old,
.day.new {
    color: #E0E0E0 !important
}

.day.old:hover,
.day.new:hover {
    border-radius: 50% !important
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
    border-radius: 50% !important;
    background-color: #eee
}

.active {
    border-radius: 50% !important;
    color: #fff !important
}

.range-start,
.range-end {
    border-radius: 50% !important;
    background-image: linear-gradient(#1976D2, #1976D2) !important
}

.range {
    background-color: #E3F2FD !important
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 10px 10px 10px 10px !important;
    font-size: 18px;
    opacity: 0.7;
    color: #fff
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1
}

@media screen and (max-width: 726px) {
    .datepicker-dropdown.datepicker-orient-right:before {
        right: calc(50% - 6px)
    }

    .datepicker-dropdown.datepicker-orient-right:after {
        right: calc(50% - 5px)
    }
}

@media screen and (max-width: 1240px) {
  .column2.column2-logs{
    transform: translateX(94px);
  }
}

@media screen and (max-width: 1199px) {
  .column2.column2-logs{
    transform: translate(94px, 21px);
  }
}

@media screen and (max-width: 991px) {
  .column2.column2-logs{
    transform: translate(94px, 10px);
  }
}

@media screen and (max-width: 991px) {
  .date-logs{
    display: none;
  }
}

@media (max-width: 850px) {
  .wrapper .filters .date-left {
    display: none;
  }
}
  @media (max-width: 992px) {
  .wrapper{
    padding-left: 45px;
  }

  .wrapper .filters .date {
    /*display: none;*/
  }

  .wrapper .content .table {
    /*margin-left: 0px;*/
 }
}

@media (max-width: 820px) {
  .wrapper{
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 820px) {
  .wrapper .content-logs {
    padding-right: 40px;
  }
}
  @media (max-width: 760px) {
  .wrapper .content .column2-logs{
    padding-left: 100px;
  }
}

 @media (max-width: 720px) {
  .wrapper .content .table{
    margin-left: 23px;
  }

}

@media (min-width: 992px) {
  .wrapper .sideMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .wrapper .content {
    margin-left: 13.5rem;
  }
  .wrapper.active .sideMenu {
    width: 5rem;
  }
  .wrapper.active .sideMenu .nav-link {
    text-align: center;
  }
  .wrapper.active .sideMenu .nav-link .icon {
    margin-right: 0;
  }
  .wrapper.active .sideMenu .nav-link .text {
    display: none;
  }
  .wrapper.active .content {
    margin-left: 5rem;
  }

.button-wrap-left {
  margin-right: 20px;
}


  

}
/*# sourceMappingURL=style.css.map */